---
import "../styles/style.css"
const {title, li1, li2, li3, li4, li5} = Astro.props;
---
<article>
<div class="list_container">
    <h3>{title}</h3>
    <ul>
        <li>{li1}</li>
        <li>{li2}</li>
        <li>{li3}</li>
        <li>{li4}</li>
        <li>{li5}</li>
    </ul>
</div>
<div class="cta_container">
    <a href="#">Meld dig til <br> <span>her</span></a>
</div>
</article>

<style>
article {
    display: flex;
    justify-content: space-around;
    width: 400px;
    background-color: #e7f0f7;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

a{
    font-size: 30px;
    text-decoration: none;
}
span {
    font-weight: bold;
}

.list_container {
    width: 200px;
}

.cta_container {
    margin-top: 30px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

ul {
    text-align: left; 
    list-style-position: inside; 
    margin-block-start: 0.5em; 
}

@media only screen and (min-width: 600px) {
    article{
        width: 500px;
    }
}

@media only screen and (min-width: 1166px) {
    article{
        width: 700px;
    }
}
</style>