---
import "../styles/style.css"
const {title, li1, li2, li3, li4, li5} = Astro.props;
---
<article>
<div class="list_container">
    <h3>{title}</h3>
    <ul>
        <li>{li1}</li>
        <li>{li2}</li>
        <li>{li3}</li>
        <li>{li4}</li>
        <li>{li5}</li>
    </ul>
</div>
<div class="cta_container">
    <a href="https://www.ca.dk/formularer/indmeldelse-ca/"> <span> Tilmeld dig </span> <br> <span class="cta_span">her</span></a>
</div>
</article>

<style>
article {
    display: flex;
    justify-content: space-around;
    width: 400px;
    background-color: #e7f0f7;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}

a{
    font-family: "Nexa Regular";
    font-size: 30px;
    text-decoration: none;
    color: rgb(37, 37, 37);
}
span {
    font-family: "Nexa Bold";
}

.cta_span {
    font-size: 40px;
}

.list_container {
    width: 200px;
}

.cta_container {
    margin-top: 30px;
    width: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

ul {
    text-align: left; 
    list-style-position: inside; 
    margin-block-start: 0.5em; 
}

@media only screen and (min-width: 600px) {
    article{
        width: 500px;
    }
}

@media only screen and (min-width: 1166px) {
    article{
        width: 700px;
    }
}
</style>